.App-header {
  width: 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.Movie-wrapper {
  width: 25%;
  background-color: antiquewhite;
  color: black;
  text-align: center;
  border-radius: .5rem;
}

.Movie-search {
  width: 50%;
  height: 40px;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2rem;
  padding: .5rem 2rem;
  border-radius: 2rem;
  border: 1px solid white;
  color: white;
  background-color: transparent;
  transition: all .3s ease-in-out;
}

.Movie-search:focus {
  outline: none;
  box-shadow: 0px 2px 4px 2px #8081837e;
}

.Movie-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-inline: 1rem;
}

.Movie-image {
  width: 100%;
  border-radius: .5rem .5rem 0 0;
}

.Movie-language {
  font-weight: bold;
}

.Movie-rate {
  font-size: 34px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .Movie-container {
    width: 100%;
  }
  .Movie-wrapper {
    width: 50%;
  }
}

.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 1rem 1rem;
}

.Wrap-1 {
  text-align: start;
}