@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

body {
  @apply bg-slate-900 min-w-full min-h-screen
}